* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    /* font-weight: 400; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px; /* font-size: 1rem; */
    /* line-height: 1.58; */
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

body:before {
    height:100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #128ff2;
    content: "";
    z-index: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    /*width: 100%;*/
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {

}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

#alert-recv-section {
    position: fixed;
    top: 100px;
    left: 250px;
    height: 25px;
    max-height: 25px;
    width: 550px;
    max-width: 550px;
    background-color: #D6D4D4;
    border: 1px solid #928F8F;
    padding:5px 5px;
}

#left-section {
    position: fixed;
    top: 100px;
    height: 280px;
	max-height: 280px;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 200px;
    max-width: 200px;
}

#left-menu-section {
    margin: 2px;
    background-color: #D6D4D4;
    height: 70px;
    max-height:70px;
}

#meeting-section {
    position: fixed;
    top: 383px;
	height: 150px;
	max-height: 150px;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 200px;
    max-width: 200px;
}

.inbox-header {
    position: relative;
    height: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

.inbox-section {
 	position: relative;
	height: 130px;
	max-height: 130px;
	width: 200px;
    max-width: 200px;
    text-align: left;
	padding-left: 5px;
	margin-top: 5px;
}

#new-room-section {
	text-align: left;
    padding-left: 5px;
    padding-top: 5px;
}

#new-room-section a {
    text-decoration: none;
    color: #FF4743;
}

#screen-sharing-section {
	text-align: left;
    padding-left: 5px;
	padding-top: 5px;
}

#screen-sharing-section a {
    text-decoration: none;
    color: GREY;
    cursor: default;
}

#login-section {
    font-size: 18px;
    color: #DDDDDD;
    position: fixed;
    padding-left: 10px;
}

#rooms-header {
    position: fixed;
    left: 10px;
    top: 180px; /*140px*/
    height: 18px;
    font-weight: bold;
    display: none;
}

#rooms-section {
    position: fixed;
    left: 10px;
    top: 200px; /* 160px; */
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 300px; 
    display: none;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 10px 10px 10px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}


#chat-page {
    height: 100%;
}

.chat-container {
    max-width: 350px;
    margin-left: auto;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 100px; 
    height: 515px;
    max-height: 515px;
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 10px 0px 10px;
	height: 430px;
	max-height: 430px;
}

#chat-page #messageForm {
    padding: 10px;
}

#chat-page ul li {
    /* line-height: 1.5rem; */
    padding: 5px; 5px; /* 10px 20px; */
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px; /* 18px; */
    /* line-height: 42px; */
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: bold; /* 600; */
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    text-align: center;
    color: #777;
    position: absolute;
    width: 100%;
    display: none;
}

/*******************************/
#p2p-chat-page {
    height: 100%;
}

#p2p-chat-page .chat-holder {
	
	position: absolute;
    top: 100px;
    left: 200px;
}
	
#p2p-chat-page .p2p-chat-container {
    /*top: 100px;
    left: 200px;
    position: absolute;*/
    
    /*width: 300px;*/
    max-width: 310px;
    height: 430px;
    max-height: 430px;
    
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    /*border:1px solid red;*/

}

#p2p-chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 10px 0px 10px;
    /*height: calc(100% - 150px);*/
    
	height: 350px;
	max-height: 350px;
}

#p2p-chat-page ul li {
    /* line-height: 1.5rem; */
    padding: 5px 5px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#p2p-chat-page ul li p {
    margin: 0;
}

#p2p-chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#p2p-chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
} 

#p2p-chat-page .p2p-messageForm {
    /*padding: 10px;*/
	padding-top: 5px;
}

/*
#p2p-chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}*/

#p2p-messageForm .input-group input {
    float: left;
    /*width: calc(100% - 85px);*/
	width: calc(100% - 90px);
	/* width: calc(100% - 120px); */
}

#p2p-messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

/*******************************/

@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}